fastapi[standard]
uvicorn
sqlalchemy
psycopg2-binary
asyncpg
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
argon2-cffi
python-multipart
httpx
aiohttp
Pillow>=10.0.0
shapely>=2.0.0
unidecode>=1.4.0
geoalchemy2
pyproj
